doctype html
html
  head
    style
      include ../css/main.css
    title Skype history
  body
    include userSelection.jade
    div#container
      div#contacts
        include contactSelection.jade
      div#messages
        include messages.jade
    script
      include ../js/main.js
