select
  each skypeUser in users
    if skypeUser.id == selectedUser.id
      option.userOption(value=skypeUser.id selected="true")= skypeUser.name
    else
      option.userOption(value=skypeUser.id)= skypeUser.name
